body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.bg-element{ 
    background-image: url("../images/Crest.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: top 20px right;
}
/* .floating-image{
    width: 100px;
    position: fixed;
    top: 10px;
    right: 0px;
    <!-- float:right; -->
} */
/* div.page-text{
    background-color:white;
} */
#item1{
    background-color: blue;
    width:150px;
    height:150px;
    position: absolute;
    top:300px;
    left: 200px;
}
div.box{
    padding: 15px;
    border: solid darkgreen 2px;
    width: 500px;
    position: sticky;
    top: 0px;
}
#item2{
    background-color: rgb(255, 213, 0);
    width: 100px;
    height:100px;
    position: relative;
    top:20px;
    left:150px;
}
#item3{
    background-color: rgb(238, 109, 65);
    width: 200px;
    height:200px;
    position: relative;
    top:-10px;
    left:10px
}
#item4{
    background-color: rgb(237, 81, 193);
    width: 50px;
    height:50px;
    position: relative;
    top: 20px;
    right: 10px;
}