body{
    font-family: Arial, Helvetica, sans-serif;
}


#riddle{                  /* ex03 just for the riddle part */                         
    font-style: italic;
}

.hidden{                  /* ex03 step 1 */
    visibility: hidden;
}