body{
    background-color: rgb(222, 159, 70); 
    font-family: Arial, Helvetica, sans-serif;
}
.importantItem{
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    color: #F3B8CB;
}
#secondItem{
    background-color: #21509F;
}
#highlight{
    background: linear-gradient(to left, #146858, #B7B7B7, #F6EEE1); 
}