h1:hover{
    background-color: #FFD300;
}
button:hover{
    background-color: #002F60;
    color: white;
}
button:active{
    background-color: #FFD300;
    color: #002F60;
}
li:nth-child(even){
    background-color:#F3B8CB;
}
.parent > p{
    background-color: #002F60;
    color: #F6EEE1
}