main {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 140px;
    padding: 20px;
}

.task-top-bar {
    background-color: #e0e0e0;
    border-bottom: 0.5px solid #d1d1d1;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 1;
}

.task-top-bar span {
    margin-left: 15px;
    margin-right: 15px;
    color: #343a40;
}

.task-info {
    width: 60%;
    padding-right: 20px;
    border-right: 1px solid #e0e0e0;
}

.sub-tasks {
    width: 35%;
}

.sub-tasks ul {
    list-style: none;
    padding-left: 20px;
}

.sub-tasks li {
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px #e0e0e0;
    padding: 8px;
}